.header__new {
  padding-right: 0;
}
.header__cart-loupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__loupe {
  padding-left: 35px;
}

.product {
  width: 100%;
  height: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.product__photos {
  margin-right: 60px;
}
.photo {
  max-width: 540px;
  width: 100%;
  height: 523px;
  position: relative;
  margin-left: 234px;
  margin-right: 60px;
}
.slider {
  margin-left: 70px;
  width: 400px;
  height: 523px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
}
.arrows {
  position: relative;
}
.arrow {
  position: absolute;
  top: 215px;
  cursor: pointer;
}
.slide.active {
  display: block;
}
.arrow.arrow__next {
  right: 0;
}
.slide__photo_big {
  width: 400px;
  height: 523px;
}
.photo__container_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
.photo__dot {
  cursor: pointer;
}
.photo__dot.active {
  -webkit-box-shadow: 0 0 4px 3px rgb(18, 128, 136);
          box-shadow: 0 0 4px 3px rgb(18, 128, 136);
}
.product__discribe {
  width: 100%;
  height: 656px;
  background-color: #f1f2f4;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.product__container {
  margin-left: 70px;
}
.product__overalls {
  margin-top: 70px;
  font-size: 32px;
  width: 130px;
  height: 21px;
}
.product__text {
  width: 370px;
  height: 87px;
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.product__color {
  margin-top: 50px;
  width: 48px;
  height: 13px;
  font-weight: 500;
}
.product__color-all {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__color-different {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.border-color {
  border: 1px solid #f1f2f4;
  border-radius: 50%;
  margin-right: 27px;
  cursor: pointer;
}
.product__color-different.color1 {
  margin: 2px;
  background-color: #b0c3c7;
}
.border-color_TowerGray:hover {
  border: 1px solid #b0c3c7;
}
.TowerGray {
  border: 1px solid #b0c3c7;
}
.product__color-different.color2 {
  margin: 2px;
  background-color: #3b6392;
}
.border-color_Chambray:hover {
  border: 1px solid #3b6392;
}
.Chambray {
  border: 1px solid #3b6392;
}
.product__color-different.color3 {
  margin: 2px;
  background-color: #bfc3c8;
}
.border-color_SilverSand:hover {
  border: 1px solid #bfc3c8;
}
.SilverSand {
  border: 1px solid #bfc3c8;
}
.size {
  margin-top: 40px;
  width: 37px;
  height: 13px;
  font-weight: 500;
}
.container-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
.container-size_all {
  margin-right: 20px;
  font-weight: 500;
  color: #727a82;
  cursor: pointer;
}
.container-size_all:hover {
  color: #151c22;
}
.size_colour {
  color: #151c22;
}
.price {
  margin-top: 40px;
  width: 48px;
  height: 13px;
}
.button {
  padding: 27px 55px 27px 56px;
  margin-top: 50px;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #151c22;
}