body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 19px;
  color: #151c22;
}
.html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1 {
  margin: 0;
}
.header_logo {
  height: 17px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.wrapper {
  width: 100%;
  height: 617px;
  background: #f1f2f4;
}
.container_main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
}
.container_nav-vector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.nav_link {
  padding-bottom: 35px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
}
.nav_link:last-child {
  padding-bottom: 0;
}
.nav_link:hover {
  color: grey;
}
.vector_box {
  padding-bottom: 50px;
}
.text_and_button {
  padding-top: 192px;
  padding-left: 111px;
  display: flex;
  flex-direction: column;
}
.quality {
  width: 211px;
  height: 13px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #727a82;
  padding-bottom: 50px;
  padding-left: 5px;
}
.denim {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 128px;
  color: #151c22;
  width: 305px;
  height: 104px;
}
.button_check {
  padding: 27px 24px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  background: #151c22;
  border: 0;
  margin-left: 5px;
  cursor: pointer;
}
.button_check:hover {
  background: grey;
}
.three_image {
  height: 100%;
}
.logo_face {
  width: 430px;
  height: 517px;
}
.main_img-center {
  padding: 50px;
  position: relative;
  z-index: 10;
  height: 100%;
}

.main_img-center:before {
  content: " ";
  background-image: url(/img/main_page/picture_up.svg);
  position: absolute;
  width: 232px;
  height: 176px;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.main_img-center:after {
  content: " ";
  background-image: url(/img/main_page/picture_down.svg);
  position: absolute;
  width: 232px;
  height: 176px;
  z-index: -1;
  bottom: 0px;
  right: 0px;
}
.container_icon-network {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.basket_loupe {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logo_basket {
  padding-bottom: 35px;
}
.nav_network {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.network_header {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #151c22;
}
.network_header:hover {
  color: grey;
}
.instagram_header {
  padding-top: 35px;
}

.work_area {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.clothes {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.bestsellers {
  width: 178px;
  height: 21px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #151c22;
  margin: 0;
}
.view_all {
  width: 70px;
  height: 13px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
  margin: 0;
  padding-right: 5px;
}
.line_view {
  display: flex;
  justify-content: flex-end;
}
.bestsellers_clothes {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}
.clothes_name {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
  margin: 0;
  margin-top: 25px;
}
.clothes_price {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
  margin: 0;
  margin-top: 15px;
}
.fall_2019 {
  display: flex;
  margin-top: 130px;
}
.pic_right {
  position: relative;
  margin: 0;
}
.gray_fall {
  position: absolute;
  top: 31px;
  right: 71px;
}
.street_fashion {
  position: absolute;
  bottom: 256px;
  left: 70px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #727a82;
  margin: 0;
}
.text_fall_2019 {
  position: absolute;
  margin: 0;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #151c22;
  bottom: 210px;
  left: 70px;
}
.form_button {
  position: absolute;
  margin: 0;
  bottom: 101px;
  left: 70px;
}
.shop_now {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  background: #151c22;
  color: white;
  border: 0;
  width: 200px;
  height: 64px;
}
.category {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.by_category {
  width: 274px;
  height: 21px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #151c22;
  margin: 0;
}
.all_category {
  width: 70px;
  height: 13px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
  padding-right: 5px;
  margin: 0;
}
.line_category {
  display: flex;
  justify-content: flex-end;
}
.shop_by_category {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.category_clothes {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
  margin: 0;
}
.cat_jeans {
  padding-right: 248px;
  padding-top: 25px;
}
.cat_shirts {
  padding-right: 249px;
  padding-top: 25px;
}
.cat_jackets {
  padding-top: 25px;
  padding-right: 232px;
}
.cat_overalls {
  padding-top: 25px;
}
a {
  text-decoration: none;
}

.footer {
  background: #151c22;
  height: 222px;
  margin-top: 130px;
}
.field {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.field_logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.contain_footer {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.footer_link {
  text-decoration: none;
  margin-right: 35px;
  color: #ffffff;
  height: 13px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.social_media {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}
.media {
  margin-right: 30px;
}
