body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
}
.html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

/* header */
.header {
  width: 100%;
  height: 68px;
  background-color: white;
}
.header__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  padding-right: 35px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #151c22;
  font-family: Work Sans;
}
.container__link:nth-child(odd):hover {
  color: #151c22;
}
.header__new {
  padding-right: 0;
}
.header__loupe {
  padding-left: 35px;
}
.container {
  background-color: #f1f2f4;
  width: 100%;
  height: 260px;
}
.container__center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.container__text {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-top: 73px;
}
.container__nav {
  display: flex;
  flex-direction: row;
}
.container__link {
  text-decoration: none;
  padding-right: 10px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #727a82;
}
.container__link:last-child {
  padding-right: 0;
}
.container__link a:hover {
  color: black;
}
.container__text-main {
  font-family: Work Sans;
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  color: #151c22;
  margin-top: 16px;
  width: 272px;
  margin: 0;
  padding-top: 39px;
}
.container__image {
  padding-left: 57px;
}
.container__main-picture {
  padding: 0 30px;
  position: relative;
  z-index: 10;
}
.main-picture {
  width: 299px;
  height: 260px;
}
.container__main-picture:before {
  content: " ";
  background-image: url(/img/catalog/line__up.svg);
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  width: 232px;
  height: 176px;
}
.container__main-picture:after {
  content: " ";
  background-image: url(/img/catalog/line__down.svg);
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  width: 178px;
  height: 135px;
} 

/* fallen menu */
.container__menu {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: yellow;
  position: relative;
}
.menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
}
.menu__filter-block {
  border: 2px solid black;
  border-style: none solid solid solid;
  position: absolute;
  background-color: white;
}
.menu__filter-fall {
  display: none;
}

.menu__all-filter {
  border-style: none solid solid solid;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: url(/img/catalog/filter_vector.svg) 209px 21px no-repeat;
}
.menu__filter {
  border: 2px solid black;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 18px 151px 19px 18px;
  width: 74px;
  height: 13px;
  background: url(/img/catalog/filter_vector.svg) 209px 21px no-repeat;
}
.menu__filter-vector {
  background: url(/img/catalog/filter_vector-down.svg) 209px 21px no-repeat;
}
.price__holder {
  border-bottom: 2px solid #f1f2f4;
}
.color__holder {
  border-bottom: 2px solid #f1f2f4;
}

/* filter price */
.menu__price {
  padding: 18px 185px 19px 18px;
  width: 40px;
  height: 11px;
}
.menu__price-vector {
  background: url(/img/catalog/filter_vector-down.svg) 209px 21px no-repeat;
}

/* ползунок (price) */
.middle {
  position: relative;
  width: 207px;
  margin: 0 auto;
  background-color: #dcdcdc;
}
.price__box {
  padding-top: 18px;
  padding-bottom: 28px;
}
.price__filter-fall {
  display: none;
}
.slider {
  position: relative;
  z-index: 1;
  height: 2px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  margin: 0 15px;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: black;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
}
.slider > .thumb.left {
  left: 16%;
  transform: translate(-15px, -7px);
}
.slider > .thumb.right {
  right: 16%;
  transform: translate(15px, -7px);
}
input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0; /*если уберу появится thumb*/
  background-color: #4193da;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
.price__block {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
.input__price1 {
  display: flex;
}
.input__price2 {
  display: flex;
}
.dol {
  margin-right: 3px;
}

/* filter color */
.menu__color {
  padding: 18px 183px 19px 18px;
  width: 42px;
  height: 11px;
}
.menu__color-vector {
  background: url(/img/catalog/filter_vector-down.svg) 209px 21px no-repeat;
}
.menu__color-all {
  padding-top: 9px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 28px;
}
.menu__color-fall {
  display: none;
}
.menu__color-different {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.border-color {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.menu__color-different.color1 {
  margin: 2px;
  background-color: #b0c3c7;
}
.border1:hover {
  border: 1px solid #b0c3c7;
}
.click_border1 {
  border: 1px solid #b0c3c7;
}
.menu__color-different.color2 {
  margin: 2px;
  background-color: #3b6392;
}
.border2:hover {
  border: 1px solid #3b6392;
}
.click_border2 {
  border: 1px solid #3b6392;
}
.menu__color-different.color3 {
  margin: 2px;
  background-color: #bfc3c8;
}
.border3:hover {
  border: 1px solid #bfc3c8;
}
.click_border3 {
  border: 1px solid #bfc3c8;
}
.menu__color-different.color4 {
  margin: 2px;
  background-color: #2d2e2e;
}
.border4:hover {
  border: 1px solid #2d2e2e;
}
.click_border4 {
  border: 1px solid #2d2e2e;
}
.menu__color-different.color5 {
  margin: 2px;
  background-color: #ececec;
}
.border5:hover {
  border: 1px solid #ececec;
}
.click_border5 {
  border: 1px solid #ececec;
}
.menu__color-different.color6 {
  margin: 2px;
  background-color: #4193da;
}
.border6:hover {
  border: 1px solid #4193da;
}
.click_border6 {
  border: 1px solid #4193da;
}

/* collection view */
.collection__holder {
  border-bottom: 2px solid #f1f2f4;
}
.menu__collection-fall {
  display: none;
}
.menu__view {
  display: flex;
}
.menu__view-up {
  padding-top: 9px;
}
.view__name {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #727a82;
  cursor: pointer;
}
.view__name:hover {
  color: #151c22;
}
.casual {
  margin-right: 30px;
  margin-left: 18px;
}
.classic {
  margin-right: 27px;
  margin-left: 18px;
}
.collection_click {
  color: #151c22;
}
.menu__view-down {
  margin-top: 20px;
  padding-bottom: 28px;
}

.menu__collection {
  padding: 18px 145px 19px 18px;
  width: 80px;
  height: 11px;
}
.menu__collection-vector {
  background: url(/img/catalog/filter_vector-down.svg) 209px 21px no-repeat;
}
.menu__apply {
  background: #151c22;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-top: 39px;
  width: 243px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__clear {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 25px 93px;
  width: 57px;
  height: 10px;
}

/* main */
.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
  z-index: 5;
}
.main__clothes-up {
  display: flex;
}
.main__jacket-up {
  padding-right: 66px;
}
.main__text-up {
  padding-top: 25px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
}
.main__price-up {
  padding-top: 15px;
  font-family: Work Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
}
.main__clothes-middle {
  display: flex;
  margin-top: 66px;
}
.main__jacket-middle {
  padding-right: 66px;
}
.main__text-middle {
  padding-top: 25px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
}
.main__price-middle {
  padding-top: 15px;
  font-family: Work Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
}
.main__clothes-down {
  display: flex;
  position: absolute;
  bottom: 0;
}
.main__jacket-down {
  padding-right: 66px;
}
.main__text-down {
  padding-top: 25px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
}
.main__price-down {
  padding-top: 15px;
  font-family: Work Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
}
.main a img:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */

.footer {
  background: #151c22;
  height: 222px;
  margin-top: 130px;
}
.footer__section__logo {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.footer__section__link {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.footer__link {
  text-decoration: none;
  margin-right: 35px;
  color: #ffffff;
  height: 13px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.footer__media {
  display: flex;
  justify-content: center;
  padding-top: 37px;
}
.footer__media__logo {
  margin-right: 30px;
}
