body {
    margin: 0;
}
.html {
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

/*ползунок (price)*/
/*
.middle {
  width: 207px;
  margin: 0 auto;
}
.input-left {
  -webkit-appearance: none;
  border: 1px solid #d4d4d4;
  width: 100%;
}
.input-right {
  -webkit-appearance: none;
  border: 1px solid #d4d4d4;
  width: 100%;
}
*/
