body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 19px;
    color: #151C22;
}
.html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} 
.footer {
    background: #151C22;
    height: 222px;
}
.field{
    width: 100%;
    max-width: 1170px;
    margin:0 auto;
}
.field_logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.contain_footer {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.footer_link {
    text-decoration: none;
    margin-right: 35px;
    color: #ffffff;
    height: 13px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.social_media {
    display: flex;
    justify-content: center;
    padding-top: 37px;
}
.media {
    margin-right: 30px; 
}